@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Montserrat&family=Raleway&family=Space+Mono&display=swap");

/* Page title */
h1 {
  font-family: "Dancing Script", cursive;
  font-size: 70px;
  color: #212121;
}

body {
  background-color: #d1e8e4;
}

/* The div that contains all summary cards */
.timeline-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: auto;
  justify-items: center;
  margin-top: 50px;
}

/* All timeline elements */
.timeline-item {
  width: 15rem;
  height: fit-content;
  padding: 25px 20px;
  text-align: center;
  margin: 20px;
  box-shadow: 0 10px 20px rgb(43, 48, 58, 0.5);
  border-radius: 10px;
}

.timeline-intro {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  margin: 20px;
}

/* Adding font family to elements */
.timeline-item-title,
.timeline-item-summary,
.timeline-item-date {
  font-family: "Lato", sans-serif;
}

.timeline-item-title {
  font-size: 28px;
}

.timeline-item-date {
  font-size: 16px;
  font-weight: 800;
}

.timeline-item:nth-child(even) {
  background-color: rgb(244, 162, 89);
  color: #fff;
  margin-top: 10rem;
  border: 2px solid rgba(212, 148, 92, 0.4);
}

.timeline-item:nth-of-type(odd) {
  background-color: rgb(241, 156, 187);
  color: #fff;
  border: 2px solid rgba(214, 147, 171, 0.4);
}

/* Title for each ingredient */
.timeline-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Brief summary of ingredient */
.timeline-item-summary {
  font-family: "Montserrat", sans-serif;
}

/* More info button */
.timeline-item-more-info {
  margin: 5px 10px;
  padding: 10px;
  border-radius: 20px;
  transition: 0.4s;
  background-color: #f8f8f8;
  border-top: 2px solid rgba(92, 83, 86, 0.5);
  border-left: 2px solid rgba(92, 83, 86, 0.5);
  border-right: 2px solid rgba(226, 220, 214, 0.5);
  border-bottom: 2px solid rgba(226, 220, 214, 0.5);
}

.timeline-item-more-info:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  background-color: #f2eeee;
}

.timeline-item-more-info:active {
  background-color: #dcd8d8;
  transition: 0.2s;
  border-bottom: 2px solid rgba(92, 83, 86, 0.5);
  border-right: 2px solid rgba(92, 83, 86, 0.5);
  border-left: 2px solid rgba(226, 220, 214, 0.5);
  border-top: 2px solid rgba(226, 220, 214, 0.5);
}

/* Vertical Line for timeline */
.timeline::before {
  content: "";
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 290%;
  width: 2px;
  transform: translateX(-50%);
}

/*------------- Modal Box ----------------*/

/*Pop out modal box*/
#modal-container {
  z-index: 2;
  width: 50%;
  height: fit-content;
  background-color: #56876d;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 30px;
  box-shadow: 5px 10px 20px rgb(43, 48, 58, 0.7);
  border: 2px solid rgb(72, 112, 91, 0.4);
}

/* Pop up display images */
#modal-image {
  height: 50%;
  width: 50%;
  box-shadow: 0 10px 20px rgb(43, 48, 58, 0.5);
  border: 1.5px solid rgba(92, 83, 86, 0.5);
}

#modal-full-description,
#modal-date,
#modal-title {
  font-family: "Montserrat", sans-serif;
}

/* Pop up close button */
#modal-close-button {
  cursor: pointer;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  transition: 0.3s;
  border-bottom: 2px solid rgba(92, 83, 86, 0.5);
  border-right: 2px solid rgba(92, 83, 86, 0.5);
  border-left: 2px solid rgba(226, 220, 214, 0.5);
  border-top: 2px solid rgba(226, 220, 214, 0.5);
}

#modal-close-button:hover {
  box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.24), 0 15px 10px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  background-color: #f2eeee;
}

#modal-close-button:active {
  background-color: #dcd8d8;
  transition: 0.2s;
  border-top: 2px solid rgba(92, 83, 86, 0.5);
  border-left: 2px solid rgba(92, 83, 86, 0.5);
  border-right: 2px solid rgba(226, 220, 214, 0.5);
  border-bottom: 2px solid rgba(226, 220, 214, 0.5);
}
